<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Track</title>
</head>
<body>
    <h1>CompSci 235 2022 - MY MUSIC LIBRARY</h1>
    <h2>{{ track.title }}</h2>
    <p>Track Duration: <b>{{ track.track_duration }}</b></p>
    <p>Track URL: {{ track.track_url }}</p>
</body>
</html>


<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Library</title>
    <link rel="stylesheet" href={{ url_for("static", filename="css/styles.css")
    }}>
  </head>
  <body>
    <nav>
      <a href={{ url_for("home") }}>Home</a>
      <a href={{ url_for("track_blueprint.list_track") }}>List</a>
    </nav>
    <h1>Tracks</h1>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>