{% extends 'layout.html' %} {% block content %}

<div>
  <table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Album</th>
      <th>Artist</th>
      <th>Duration</th>
      <th>Track URL</th>

    </tr>
    {% for track in tracks %}
    <tr>
      <td>{{track.track_id}}</td>
      <td>{{track.title}}</td>
      <td>{{track.album.title}}</td>
      <td>{{track.artist.full_name}}</td>
      <td>{{track.track_duration}}</td>
      <td>{{track.track_url}}</td>
      <td>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}